@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html {
    height: 845px;
    width: 390px;
}

body {
    font-family: Manrope;
    padding: 0;
    margin: 0;
    overflow: scroll;
}

.App {
    margin: 30px;
}

header {
    display: flex;
    justify-content: space-evenly;
}

p {
    margin: 0;
    padding: 0;
}

.header-text {
    margin: 0;
    padding: 5px;
}

.livraison {
    background-color: #FF675F;
    border-radius: 50px;
    width: 40%;
    height: 2%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-weight: 500;
}

.emporter {
    background-color: white;
    border-radius: 50px;
    width: 40%;
    height: 2%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-weight: bold;
}

.adresse {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
}

.adresse-text {
    width: 100%;
    padding: 0;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 400;
}

.arrow-down {
    margin-right: 20px;
    padding: 0;
}

.searchbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 11px rgba(0, 0, 0, 0.08);
    align-items: center;
}

.search-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #BEBEBE;
}

.option {
    margin-right: 5px;
}

.search {
    margin-right: 5px;
}

.selection {
    margin-top: 20px;
}

.large-selection {
    display: flex;
    justify-content: space-between;
}

.Selection-pizza {
    width: 138px;
    height: 85px;
    background-color: #F3F3F3;
    border-radius: 5px;
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}
.pizza {
    position: absolute;
    left: 80px;
    top: 20px;
}

.Selection-course {
    width: 138px;
    height: 85px;
    background-color: #F3F3F3;
    border-radius: 5px;
    filter: drop-shadow(0px 0 0 rgba(0, 0, 0, 0));
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.courses {
    position: absolute;
    left: 80px;
    top: 20px;
}

.small-selection {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.alcool {
    width: 67px;
    height: 67px;
    background-color: #F3F3F3;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.alcool-text {
    text-align: center;
    font-weight: bold;
}

.sushis {
    width: 67px;
    height: 67px;
    background-color: #F3F3F3;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.sushis-text {
    text-align: center;
    font-weight: bold;
}

.burger {
    width: 67px;
    height: 67px;
    background-color: #F3F3F3;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.burger-text {
    text-align: center;
    font-weight: bold;
}

.afficher {
    width: 67px;
    height: 67px;
    background-color: #F3F3F3;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.afficher-text{
    text-align: center;
    font-weight: bold;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FF675F;
    height: 10px;
    border: none;
    border-radius: 5px;
}

.img-restaurant {
    margin-top: 10px;
    height: 124px;
    background-image: url(../img/Rectangle5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-top: 10px;
}
.promo>p{
    color: white;
    background-color: #FF675F;
    font-size: smaller;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0px 10px 10px 0px;
}

.promo {
    margin-right: 10px;
}

.text-restaurant {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.Info {
    margin: 0;
    padding: 0;
}

.Name {
    padding: 0;
    margin: 0;
    font-weight: bolder;
}

.Frais{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.Note{
    background-color:#F3F3F3;
    border-radius: 50px;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.Note>p{
    margin: 0;
    padding: 0;
}

.Menu {
    position: fixed;
    bottom: 0px;
    z-index: 2;
    height: 100px;
    width: 390px;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.15));
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    margin: 0;
    padding: 0;
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}